        <figure class="snip1249">
            {{#each carts.products}}
            <div class="image">
                <img src={{pid.thumbnail}} alt="img - {{pid.thumbnail}}" /><i
                    class="ion-ios-basketball-outline"></i>
            </div>
            <figcaption>
                <h3>Titulo: {{pid.title}}</h3>
                <p>ID: {{pid._id}}</p>
                <p>Descripción: {{pid.description}}</p>
                <p>Cod: {{pid.code}}</p>
                <p>Stock: {{pid.stock}}</p>
                <p>Categoria: {{pid.category}}</p>
                <p>Cantidad: {{quantity}}</p>
                <div class="price">
                    Precio: ${{pid.price}}
                </div>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </figcaption>
            {{/each}}
        </figure>

    </div>






<h1 class="text-center">Carrito</h1>

<div>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        {{#each carts.products}}
        <div class="card" style="margin: 10px 100px">
            <div class="card-body">
                <img src={{pid.thumbnail}} width="400px" alt="img - {{pid.thumbnail}}">
                <div class="card-body">
                    <p class="card-title">Titulo: {{pid.title}}</p>
                    <p class="card-text">ID: {{pid._id}}</p>

                    <p class="card-text">Descripción: {{pid.description}}</p>
                    <p class="card-text">Precio: ${{pid.price}}</p>

                    <p class="card-text"></p>Cod: {{pid.code}}</p>
                    <p class="card-text"></p>Stock: {{pid.stock}}</p>
                    <p class="card-text"></p>Categoria: {{pid.category}}</p>

                    <p class="card-text">Cantidad: {{quantity}}</p>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>