<li><a title="">Profile</a></li>
</ol>
</div>
</div>
</header>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Perfil del Usuario </h2>

        <form>
            <div class="tab-labels">
                <span data-id="1" class="active">First Name: {{first_name}}</span>
            </div>
            <div class="tab-slides">
                <div id="tab-slide-1" itemprop="description" class="slide active">
                    Last Name: {{last_name}}
                </div>
                <div id="tab-slide-1" itemprop="description" class="slide active">
                    Age: {{age}}
                </div>
                <div id="tab-slide-1" itemprop="description" class="slide active">
                    Email: {{email}}
                </div>
                <div id="tab-slide-1" itemprop="description" class="slide active">
                    Rol: {{roles}}
                </div>
                <br>

                <br>
                <input type="submit" class="fadeIn fourth" value="Change Rol">
                <input type="submit" class="fadeIn fourth" value="My Shhopping">
                 <a href="/admin"><input type="submit" class="fadeIn fourth" value="Products"> </a>
                <input type="submit" class="fadeIn fourth" value="Upload Documentacion">
                <input type="submit" class="fadeIn fourth" value="View Users">
            </div>
        </form>
    </div>
</div>